@(Html.X().Panel()
    .Header(false)
    .Region(Region.South)
    .Border(false)
    .Height(20)
    @*.Content(
    @<text>
        <div style="text-align:right;">
            系统开发：<a href="http://www.thunder10.com">傻子石</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </text>
    )*@
)